html{
	background-color:RGB(243, 247, 248);
}

.divv{
	position: absolute;
	left: 70.4%;
}

#url{
	width:90%;
	padding:5px;
	height:30px;
	border-radius:10px;
	position:relative;
	left:3%;
	top:10px;
	margin-bottom:15px;
	resize:none;
	font-size: 30px;
}

/* From cssbuttons.io */
#upload-button {
 width:93%;
 padding:5x;
 appearance: button;
 background-color: #1899D6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 box-sizing: border-box;
 color: #FFFFFF;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 700;
 letter-spacing: .8px;
 line-height: 20px;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 13px 19px;
 text-align: center;
 text-transform: uppercase;
 touch-action: manipulation;
 transform: translateZ(0);
 transition: filter .2s;
 user-select: none;
 -webkit-user-select: none;
 vertical-align: middle;
 white-space: nowrap;
 position:relative;
 left:3%;
}

#upload-button:after {
 background-clip: padding-box;
 background-color: #1CB0F6;
 border: solid transparent;
 border-radius: 16px;
 border-width: 0 0 4px;
 bottom: -4px;
 content: "";
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 z-index: -1;
}

#upload-button:main, #upload-button:focus {
 user-select: auto;
}

#upload-button:hover:not(:disabled) {
 filter: brightness(1.1);
}

#upload-button:disabled {
 cursor: auto;
}

#upload-button:active:after {
 border-width: 0 0 0px;
}

#upload-button:active {
 padding-bottom: 10px;
}

#upload-box {
 width: 600px;
 height: 120px;
 background: white;
 border-radius: 10px;
 margin:auto;
 position:relative;
 top:40%;
 transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#modal {
	position: fixed;
	z-index:20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
}

.none {
	display: none;
}

#bigBox{
	cursor:pointer;
	width: 69%;
 background: rgb(236, 236, 236);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 position:absolute;
 top:16%;
}

.box{
	width: 97%;
 height: 40px;
 overflow:hidden;
 background: rgb(255, 255, 255);
 border-radius: 0.4em;
 margin:10px;
 box-shadow: 0.3em 0.3em 0.7em #00000015;
 transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 border: rgb(250, 250, 250) 0.2em solid;
 position:relative;
}

.box_url{
	display:inline-block;
	cursor:pointer;
	padding:10px;
	margin:0;
}

.box_status{
	cursor:pointer;
	padding:10px;
	margin:0;
}

.arrow {
	height:10px;
    width:10px;
  border:solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position:relative;
  left:6px;
  top:2px;
}


.icon{
display:inline-block;
border:1px solid grey;
margin:0px;
margin-top:3px;
border-radius:50px;
height:32px;
width:32px;
position:absolute;
right:3px;
}

.icon:hover{
	background-color:black;
}

.icon:hover .arrow{
	border:solid white;
	border-width: 0 3px 3px 0;
}

/* From uiverse.io by @alexroumi */
.add {
	/*margin:10px;
	margin-bottom:0px;*/
	width: 98%;
	cursor:pointer;
 position: relative;
 padding: 10px 40px;
 margin: 0px 10px 10px 0px;
 margin-bottom:20px;
 float: left;
 border-radius: 3px;
 font-size: 20px;
 color: #FFF;
 text-decoration: none;
 background-color: #2ecc71;
 border: none;
 border-bottom: 5px solid #27ae60;
 text-shadow: 0px -2px #27ae60;
 -webkit-transition: all 0.1s;
 transition: all 0.1s;
 position:relative;
 top:10px;
 left:10px;
}

.add:hover, .add:active {
 -webkit-transform: translate(0px,5px);
 -ms-transform: translate(0px,5px);
 transform: translate(0px,5px);
 border-bottom: 1px solid #2ecc71;
}

.input{
	width: 29%;
 height: 250px;
 background: rgb(236, 236, 236);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 position:absolute;
 top:35%;
 z-index:1;
 right:10px;
}

.form__group {
	width:90%;
    position: relative;
    padding: 15px 0 0;
    padding-bottom: 50px;
    margin: auto;
    top:40px;
}


.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(19, 18, 18);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.cssbuttons-io-button {
 display: inline-block;
 width:93%;
 margin:auto;
 margin-top:35px;
 margin-left:20px;
 align-items: center;
 font-family: inherit;
 font-weight: 500;
 font-size: 16px;
 padding: 0.7em 1.4em 0.7em 1.1em;
 color: white;
 background: #ad5389;
 background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
 border: none;
 box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
 letter-spacing: 0.05em;
 border-radius: 20em;
}

.cssbuttons-io-button:hover {
 box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
 box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
   body{
       margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
   }
    .navigation {
        height: 65px;
        background-color: RGB(58, 66, 79);
   }
    .brand {
        position: absolute;
        float: left;
        line-height: 65px;
        text-transform: uppercase;
        font-size: 1.4em;
        left: 1%;
   }
    .brand a, .brand a:visited {
        color: #ffffff;
        text-decoration: none;
   }
    .nav-container {
        max-width: 1000px;
        margin: 0 auto;
   }
    nav {
        float: right;
   }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
   }
    nav ul li {
        float: left;
        position: relative;
   }
    nav ul li a,nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 65px;
        color: #fff;
        background: #262626 ;
        text-decoration: none;
   }
    nav ul li a{
        background: transparent;
        color: #FFF;
   }
    nav ul li a:hover, nav ul li a:visited:hover {
        background: #1cb9e0;
        color: #ffffff;
   }
    .navbar-dropdown li a{
        background-color:RGB(58, 66, 79);
   }
    nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' \025BE';
   }
    nav ul li ul li {
        min-width: 190px;
   }
    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
   }
    .navbar-dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        background: #fff;
        box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
   }
   /* Mobile navigation */
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        left: 80%;
        background: transparent;
        height: 55px;
        width: 70px;
   }
    @media only screen and (max-width: 800px) {
        .nav-mobile {
            display: block;
       }
        nav {
            width: 100%;
            padding: 55px 0 15px;
       }
        nav ul {
            display: none;
       }
        nav ul li {
            float: none;
       }
        nav ul li a {
            padding: 15px;
            line-height: 20px;
            background: #262626;
       }
        nav ul li ul li a {
            padding-left: 30px;
       }
        .navbar-dropdown {
            position: static;
   }
    @media screen and (min-width:800px) {
        .nav-list {
            display: block !important;
       }
   }
    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
   }
    #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
   }
    #navbar-toggle span:before {
        top: -10px;
   }
    #navbar-toggle span:after {
        bottom: -10px;
   }
    #navbar-toggle.active span {
        background-color: transparent;
   }
    #navbar-toggle.active span:before, #navbar-toggle.active span:after {
        top: 0;
   }
    #navbar-toggle.active span:before {
        transform: rotate(45deg);
   }
    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
   }
}


.footer{
	width:100%;
	height:60px;
	background-color: RGB(58, 66, 79);
	color:white;
	position:absolute;
	bottom:0;
}
 
 .footer p{
 	
 	width:200px;
 	margin:auto;
 	margin-top:10px;
 	padding:10px;
 	font-size:15px;
 }
 
 .error{
 
 	width:400px;
 	text-align:center;
 	margin:auto;
 	margin-top:10px;
 	color:RGB(177, 34, 70);
 }
 